.make-*/
/.idea/
cygwin/home/*
cygwin/tmp/*
stdout.txt
reality_boy.ini
libgccvb.a
libvbjae.a
*.vb
output*.sav
workspace.xml
*statistics.xml
/editors/idea/var/config/plugins/CppTools/logs/
