[submodule "libs/vbjaengine"]
	path = libs/vbjaengine
	url = git@bitbucket.org:jorgeche/vbjaengine.git
[submodule "samples/vbjaengine/platform-demo"]
	path = samples/vbjaengine/platform-demo
	url = git@bitbucket.org:jorgeche/vbjaengine-platformer-demo.git
[submodule "samples/vbjaengine/barebone"]
	path = samples/vbjaengine/barebone
	url = git@bitbucket.org:jorgeche/vbjaengine-barebone.git
[submodule "libs/libgccvb"]
	path = libs/libgccvb
	url = git@bitbucket.org:KR155E/libgccvb.git
