/.idea/
.mednafen/
build/
stdout.txt
v810_err.txt
reality_boy.ini
libgccvb.a
libvuengine.a
*.vb
output*.sav
security.xml
watchdog/
workspace.xml
*statistics*.xml
*.elfeditors/idea/bin/
editors/idea/jre32/
editors/idea/jre64/
editors/idea/lib/
editors/idea/plugins/git4idea/lib/
editors/idea/redist/
editors/idea/jre32/
editors/idea/jre64/
editors/idea/jre64/
editors/idea/lib/
editors/idea/plugins/git4idea/lib/
editors/idea/redist/
