/.idea/
/.mednafen/
stdout.txt
reality_boy.ini
libgccvb.a
libvbjae.a
*.vb
output*.sav
security.xml
stdout.txt
workspace.xml
*statistics.xml
/editors/idea/var/config/plugins/CppTools/logs/
